# -----------------------------
# DJANGO CONFIGURATION
# -----------------------------
DEBUG=True
SECRET_KEY=v(z%^8(=n16&n-*f*)=7xvx=j=n$m$@kvqducupj2ul4r$e0bs
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173

# -----------------------------
# DATABASE CONFIGURATION
# -----------------------------
# Leave this blank/commented out to default to your local SQLite database
# DATABASE_URL=postgresql://postgres.jgkgdofffjgerajhgxja:OfCEqm2M0uhCgu4Y@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres

# -----------------------------
# SUPABASE CONFIGURATION 
# -----------------------------
# 1. Go to Supabase Dashboard -> Project Settings -> API
SUPABASE_URL=https://jgkgdofffjgerajhgxja.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impna2dkb2ZmZmpnZXJhamhneGphIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDgwNzk3NSwiZXhwIjoyMDk2MzgzOTc1fQ.R4GUzT21LJaoAHY31hDveuR8xuIjJAudIYfSRSC6W90

# -----------------------------
# TELEGRAM CONFIGURATION
# -----------------------------
# 1. Get token from BotFather
TELEGRAM_BOT_TOKEN=8608855386:AAGhUUAnfsK5h6Sgf1Fiw3GpK3XmpNTCmTM
# 2. Get your chat ID from a bot like @userinfobot
TELEGRAM_CHAT_ID=7231821299
